{% extends 'backboard/base.html' %} {% block content %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<div class="g-3 mb-3">
    <div class="col-lg-12 mb-3">
      <div class="card h-lg-100">
        <div class="card-header">
          <div class="mb-3 section-title">
            關於我
            <hr>
          </div>

          <!-- 內容 -->
          <div class="d-flex">
            <div class="mb-3">
              頭像
            </div>
            &nbsp;&nbsp;&nbsp;
            
            {% comment %} <button class="blue-btn" type="submit">選擇照片</button> {% endcomment %}

            <div>
              <form method="post" id="image_post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="blue-btn" type="button" id="ImageBtn" >
                  <span class="fas fa-image"></span>
                  上傳頭像
                </button><br><br>
                
                
                {{ avatar_form.as_hidden }}
                <div id="form2-container" type="hidden" style="display: none;">
                  {{avatar_form.avatar}}
                </div>
              </form>
            </div>
            
          </div>

          建議使用正方形圖片(長寬皆為250px) ，圖片要小於 1mb

          <div class="row my-2 ms-1">
            <div class="col-6 p-1">
              {% if user.avatar %}
                <img class="rounded-circle  mb-2" style="width: 150px; height: 150px;" src="{{ user.avatar.url }}" alt="" />
              {% else %}
                <img class="rounded-circle  mb-2" style="width: 150px; height: 150px;" src="{% static 'backboard/assets/img/sample.jpg' %}" alt="" />
              {% endif %}
            </div>
          </div>

          <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
            <div class="mb-3">
              <label class="form-label" for="nickname">暱稱(必填)</label>
              {% if user.nickname %}
                <input class="form-control" id="nickname" name="nickname" type="text" value="{{user.nickname}}" />
              {% else %}
                <input class="form-control" id="nickname" name="nickname" type="text" placeholder="" />
              {% endif %}
            
            </div>
  
            <div class="mb-3">
              <label class="form-label" for="phone_number">電話</label>
              {% if user.phone %}
                <input class="form-control" id="phone_number" name="phone_number" type="text" value="{{user.phone}}"/>
              {% else %}
                <input class="form-control" id="phone_number" name="phone_number" type="text"/>
              {% endif %}
            </div>
  
            <div class="mb-3">
              <label class="form-label" for="line_id">LINE ID</label>
              {% if user.line_id %}
                <input class="form-control" id="line_id" name="line_id" type="text" value="{{user.line_id}}"/>
              {% else %}
                <input class="form-control" id="line_id" name="line_id" type="text"/>
              {% endif %}
            </div>
  
            <div class="mb-3">
              <label class="form-label">關於我 <span style='color:red;'>(建議圖片寬度 800px，圖片要小於 1mb)</span></label><br>
              
              <div class="min-vh-50">
                  {{ form.about_me }} 
              </div>                  
            </div>
  
            <div class="col-12 text-end">
              <button class="blue-btn" type="submit" name="post" value='save' onclick="location.href='{% url 'about' %}'">儲存</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
</div>

<script>
  const ImageBtn = document.getElementById('ImageBtn');
  const id_image = document.getElementById('id_avatar');
  const image_post = document.getElementById('image_post');
  console.log(id_image)
  ImageBtn.addEventListener('click',function(){
    id_image.click();
    console.log('click')
  })
  id_image.addEventListener('change',function(){
    console.log('submit')
    image_post.submit();
    
  });

</script>

{% endblock %}