{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<div class="g-3 mb-3">
    <div class="col-lg-12 ps-lg-2 mb-3">
      <div class="card h-lg-100">
        <div class="card-header">
          <div class="mb-3 section-title">
            廣告追蹤設定
            <hr>
          </div>

            <!-- 內容 -->

            <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
              <div class="mb-3">
                  <label class="form-label" for="fb_pixel">Facebook Pixel</label>
                  {% if user.fb_pixel%}
                    <input class="form-control" id="fb_pixel" name ="fb_pixel" type="text" value="{{user.fb_pixel}}"/>
                  {% else %}
                    <input class="form-control" id="fb_pixel" name ="fb_pixel" type="text" />
                  {% endif %}
              </div>

              <div class="mb-3">
                  <label class="form-label" for="google_id">Google ID</label>
                  {% if user.google_id %}
                    <input class="form-control" id="google_id" name="google_id" type="text" value="{{user.google_id}}"/>
                  {% else %}
                    <input class="form-control" id="google_id" name="google_id" type="text" />
                  {% endif %}
              </div>

              <div class="col-12 text-end">
                  <button class="blue-btn" type="submit" name="post" value='save' onclick="location.href='{% url 'advert_setting' %}'">儲存</button>
              </div>
            </form>
        
        </div>
      </div>
    </div>
</div>

{% endblock %}