{% extends 'backboard/base.html' %} {% block content %}
{% load static %}


<div class="mb-3">
    <div class="col-lg-12 ps-lg-2 mb-3">
      <div class="card h-lg-100">
        <div class="card-header">
  
          <div class="mb-3 d-flex justify-content-between">
            問答列表
            <a class="green-btn btn-sm " href="{% url 'new_edit_faq' %}">新增問答</a>
          </div>
          <hr>
                    
          <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
            <div class="table-responsive scrollbar">
              <table class="table  table-striped fs--1 mb-0">
               
                <tbody class="list">
                  {% for faq in faqs %}
                    <tr>
                      <td>{{faq.title}}</td>
                      <td class="text-end">                    
                        <a class="blue-btn btn-sm " href="{% url 'new_edit_faq' %}?faq_id={{faq.id}}">編輯</a>
                        <a class="red-btn btn-sm" href="{% url 'faq' %}?delete_id={{faq.id}}" >刪除</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <br>

            {% comment %} <div class="text-center">
              {% for page_number in blogPosts.adjusted_elided_pages %} 
                {% if page_number == blogPosts.paginator.ELLIPSIS %} 
                  {{page_number}} 
                {% else %}
                  <a href="?page={{page_number}}" class="{% if page_number == blogPosts.number %}current{% endif %}">&nbsp;&nbsp;{{page_number}}&nbsp;&nbsp;</a>
                {% endif %} 
              {% endfor %}
            </div> {% endcomment %}

          </div>

        </div>
      </div>
    </div>
</div> 

{% endblock %}