{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 主要內容 -->
<div class="g-3 mb-3">
    <div class="col-lg-12 ps-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="mb-3 section-title">
                    置頂影片
                    <hr>
                </div>
                <!-- 內容 -->
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="video_link">影片連結</label>
                        {% if user.video_link %}
                            <input class="form-control" id="video_link" name="video_link" value={{ user.video_link }} type="text" placeholder="請放 Youtube 連結" />
                        {% else %}
                            <input class="form-control" id="video_link" name="video_link" value="" type="text" placeholder="請放 youtube 連結" />
                        {% endif %}
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="video_title">標題</label>
                        {% if user.video_title %}
                            <input class="form-control" id="video_title" name="video_title" value={{ user.video_title }} type="text" placeholder="" />
                        {% else %}
                            <input class="form-control" id="video_title" name="video_title" value="" type="text" placeholder="" />
                        {% endif %}
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="video_subtitle">副標</label>
                        {% if user.video_subtitle %}
                            <input class="form-control" id="video_subtitle" name="video_subtitle" value={{ user.video_subtitle }} type="text" placeholder="" />
                        {% else %}
                            <input class="form-control" id="video_subtitle" name="video_subtitle" value="" type="text" placeholder="" />
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="video_subtitle">選擇底色</label>
                        <br>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="default" type="radio" name="bg_color" value="default" {%if user.video_bg_color == 'default' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="default">
                                <div style="background-color: #615947">&emsp;&emsp;</div>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="red" type="radio" name="bg_color" value="red" {%if user.video_bg_color == 'red' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="red"> 
                                <div class="" style="background-color: #850000">&emsp;&emsp;</div>  
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="brown" type="radio" name="bg_color" value="brown" {%if user.video_bg_color == 'brown' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="brown">
                                <div style="background-color: #855600">&emsp;&emsp;</div> 
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="orange" type="radio" name="bg_color" value="orange" {%if user.video_bg_color == 'orange' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="orange">
                                <div style="background-color: #FF7C69">&emsp;&emsp;</div> 
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="green" type="radio" name="bg_color" value="green" {%if user.video_bg_color == 'green' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="green">
                                <div style="background-color: #008585">&emsp;&emsp;</div> 
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="blue" type="radio" name="bg_color" value="blue" {%if user.video_bg_color == 'blue' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="blue">
                                <div style="background-color: #5C75AD">&emsp;&emsp;</div> 
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="purple" type="radio" name="bg_color" value="purple" {%if user.video_bg_color == 'purple' %}checked=""{% endif %}/>
                            <label class="form-check-label" for="purple">
                                <div style="background-color: #7C6DAD">&emsp;&emsp;</div> 
                            </label>
                        </div>
                    </div>
    
                    <div class="col-12 text-end">
                        <button class="blue-btn" type="submit" name="post" value='save' onclick="location.href='{% url 'top_video' %}'">儲存</button>
                    </div>
                </form>
                
            </div>
            
            <section class="my-5 top-video" 
                style="background-color: 
                {% if user.video_bg_color == 'default' %}
                    #615947
                {% elif user.video_bg_color == 'red'  %}
                    #850000
                {% elif user.video_bg_color == 'brown'  %}
                    #855600
                {% elif user.video_bg_color == 'orange'  %}
                    #FF7C69
                {% elif user.video_bg_color == 'green'  %}
                    #008585
                {% elif user.video_bg_color == 'blue'  %}
                    #5C75AD
                {% elif user.video_bg_color == 'purple'  %}
                    #7C6DAD
                {% endif %}"
            >


                <div class="container text-center">
                    <div class="row align-items-center">

                    <div class="col-12 col-md-7 col-lg-8">
                        <div class="video-mask">
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ user.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-5 col-lg-4 align-items-center">
                        <div class="text-white text-start my-3">
                            {% if user.avatar %}
                                <img class="avatar rounded-circle" src="{{ user.avatar.url }}">
                            {% endif %}
                            <span class="name">{{user.nickname}}</span> 
                        </div>
                        <div class="video-title h2 text-white mb-2 text-start">{{user.video_title}}</div>
                        <div class="video-subtitle text-white text-start">{{user.video_subtitle}}</div>
                    </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
          
{% endblock %}