{% extends 'backboard/base.html' %} {% block content %}
{% load static %}

<!-- 主要內容 -->
<div class="g-3 mb-3">
    <div class="col-lg-12 ps-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="mb-3 section-title">
                    置頂影片
                    <hr>
                </div>
                <!-- 內容 -->
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="video_link">影片連結</label>
                        {% if user.video_link %}
                            <input class="form-control" id="video_link" name="video_link" value={{ user.video_link }} type="text" placeholder="Youtube 連結格式為 https://www.youtube.com/embed/xxxxx" />
                        {% else %}
                            <input class="form-control" id="video_link" name="video_link" value="" type="text" placeholder="請放 youtube 連結" />
                        {% endif %}
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="video_title">標題</label>
                        {% if user.video_title %}
                            <input class="form-control" id="video_title" name="video_title" value={{ user.video_title }} type="text" placeholder="" />
                        {% else %}
                            <input class="form-control" id="video_title" name="video_title" value="" type="text" placeholder="" />
                        {% endif %}
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="video_subtitle">副標</label>
                        {% if user.video_subtitle %}
                            <input class="form-control" id="video_subtitle" name="video_subtitle" value={{ user.video_subtitle }} type="text" placeholder="" />
                        {% else %}
                            <input class="form-control" id="video_subtitle" name="video_subtitle" value="" type="text" placeholder="" />
                        {% endif %}
                    </div>
    
                    <div class="col-12 text-end">
                        <button class="blue-btn" type="submit" name="post" value='save' onclick="location.href='{% url 'top_video' %}'">儲存</button>
                    </div>
                </form>
                
            </div>
            {% if user.video_link and "https://www.youtube.com/embed/" in user.video_link%}
                <div class="col-10 col-md-7 col-lg-8 my-5 ms-4">
                    <div class="video-mask">
                        <div class="ratio ratio-16x9">
                            <iframe 
                                src="{{ user.video_link }}" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            {% else %}
            {% endif %}

            <div class="col-10 col-md-7 col-lg-8 my-5 ms-4">
                <div class="video-mask">
                    <div class="ratio ratio-16x9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ user.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
          
{% endblock %}