{% load static %}

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【房地買賣，優良房仲】</title>
    <meta name="robots" content="noindex,follow" />
    <meta name="googlebot" content="noindex,follow" />
    <meta name="description" content="快速掌握第一手資訊，建立您的買賣房優勢！" />
    <meta property="og:title" content="快速掌握第一手資訊，建立您的買賣房優勢！" />
    <meta property="og:description" content="快速掌握第一手資訊，建立您的買賣房優勢！" />
    {% comment %} <meta property="og:url" content="https://thinkmediakaik.vip/courses/thinkthink" /> {% endcomment %}
    <meta property="og:type" content="website" />
    {% if user.avatar %}
        <meta property="og:image" content="{{ user.avatar.url }}"  />
    {% endif %}
    <meta property="og:image:alt" content="快速掌握第一手資訊，建立您的買賣房優勢！" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'house_manager/style3.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <style>
        img {
          width: 100%;
        }
    </style>

    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{user.fb_pixel}}');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id={{user.fb_pixel}}&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{user.google_id}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{user.google_id}}');
    </script>

</head>
<body class="bg-dark">
    {% comment %} 置頂影片 {% endcomment %}
    <section class="my-5 top-video" 
        style="background-color: 
        {% if user.video_bg_color == 'default' %}
            #615947
        {% elif user.video_bg_color == 'red'  %}
            #850000
        {% elif user.video_bg_color == 'brown'  %}
            #855600
        {% elif user.video_bg_color == 'orange'  %}
            #FF7C69
        {% elif user.video_bg_color == 'green'  %}
            #008585
        {% elif user.video_bg_color == 'blue'  %}
            #5C75AD
        {% elif user.video_bg_color == 'purple'  %}
            #7C6DAD
        {% endif %}"
    >
        <div class="container text-center">
            <div class="row align-items-center">

              <div class="col-12 col-md-7 col-lg-8">
                <div class="video-mask">
                    <div class="ratio ratio-16x9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ user.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
              </div>

              <div class="col-12 col-md-5 col-lg-4 align-items-center">
                <div class="text-white text-start my-3">
                    {% if user.avatar %}
                        <img class="avatar rounded-circle" src="{{ user.avatar.url }}">
                    {% endif %}
                    <span class="name">{{user.nickname}}</span> 
                </div>
                <div class="video-title h2 text-white mb-2">{{user.video_title}}</div>
                <div class="video-subtitle text-white">{{user.video_subtitle}}</div>
              </div>

            </div>
        </div>
    </section>

    {% comment %} navbar {% endcomment %}
    <header id="header" class="sticky-top">        
        <nav class="navbar navbar-expand bg-dark ">
            <div class="container-fluid">
                <div class="mx-auto">
                    <div class="navigation">
                        <ul>
                            <li class="list active">
                            <a href="#about">
                                <span class="text text-white ">關於我</span>
                            </a>
                            </li>

                            {% comment %} <li class="list">
                            <a href="#testmonial">
                                <span class="text text-white ">親友見證</span>
                            </a>
                            </li> {% endcomment %}

                            <li class="list">
                            <a href="#cases">
                                <span class="text text-white ">精選案件</span>
                            </a>
                            </li>
                            <li class="list">
                            <a href="#faq">
                                <span class="text text-white" >常見問題</span>
                            </a>
                            </li>
                            <div class="indicator"></div>
                        </ul>
                    </div>
                </div>
            </div>
            
        </nav>
        <hr>
    </header>

    {% comment %} side-button {% endcomment %}
    <div class="side-button text-white" style="display:none">
        <div>
            <a class="side-action-btn" style="background-color:rgb(88,192,56)" type="button" target="_blank" href="https://line.me/R/ti/p/{{user.line_id}}">
                <img src="{% static 'house_manager/images/icon-line.png' %}">
            </a>
        </div>
        <div>
            <button class="side-action-btn btn" style="background-color:#f7ae11" type="button" onclick="callUser()" >
                <img src="{% static 'house_manager/images/icon-phone.png'%}" style=" padding:4px">
            </button>
        </div>
        <div id="backToTop" >
            <button  class="side-action-btn btn" style="background-color:grey" type="button"  onclick="backToTop()" >
                <img src="{% static 'house_manager/images/icon-up.png'%}" style=" padding:4px">
            </button>
        </div>
    </div>
    
    <script>
        const sideButtons = document.querySelector('.side-button');
        const header = document.querySelector('#header');
        
        window.addEventListener("scroll",function(){
            console.log(header.getBoundingClientRect().top);
            
            header.getBoundingClientRect().top === 0 || header.getBoundingClientRect().top < 350
            ? sideButtons.setAttribute('style','display:block') 
            : sideButtons.setAttribute('style','display:none')
        });

        function backToTop(){
            window.scrollTo({
              top: 0,
              behavior: 'smooth' 
            });
          }
        
    </script>

    
    {% comment %} 主要內容 {% endcomment %}
    <article>
        <div class="container mt-4">
            <div class="row ps-md-5 pe-md-5">
                <div class="col-12 col-md-8 order-2 order-md-1 mt-2 text-white">
                    <div class="mx-3 mx-sm-1">
                        {% comment %} 關於我 {% endcomment %}
                        <div id="about">
                            {% comment %} <span class="section-title">我是誰</span> {% endcomment %}
                            <div>{{ user.about_me|safe }}</div>
                        </div>

                        {% comment %} <div id="testmonial" style="padding-top: 70px; margin-top: -50px;">
                            <h2>親友見證</h2>
                            <div>{{user.testimonial|safe}}</div>
                        </div> {% endcomment %}
  
                        <div id="cases" style="padding-top: 70px; margin-top: -50px;">
                            <h2>精選案件</h2>
                            <div class="row">
                                {% for case in cases %}
                                <div class="col-12 col-md-12 col-lg-6">
                                    
                                    <div class="case-item">
                                        <a class="case-link" href="{{case.case_link}}" target="_blank">
                                            <div class="d-flex align-items-center">
                                                <div class="me-3">
                                                    <img src="{{case.image}}" class="img-fluid">
                                                </div>
                                                <div>
                                                    <div>{{case.title}}</div>
                                                    <div>{{case.type}} | {{case.units}} | {{case.price}}</div>
                                                    <div>{{case.address}}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="faq" style="padding-top: 70px; margin-top: -50px;" class="mt-3 mb-5">
                            <h2>常見問題</h2>
                            
                            {% for faq in faqs %}
                                <div class="accordion-box my-3">
                                    <div class="cutom-accordion-btn">{{faq.title}}</div>
                                    <div class="panel bg-dark">
                                        <p class="mt-3">
                                            {{faq.body}}                                 
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                            <script>
                                var acc = document.getElementsByClassName("cutom-accordion-btn");
                                var i;

                                for (i = 0; i < acc.length; i++) {
                                acc[i].addEventListener("click", function() {
                                    this.classList.toggle("on");
                                    var panel = this.nextElementSibling;
                                    if (panel.style.maxHeight) {
                                    panel.style.maxHeight = null;
                                    } else {
                                    panel.style.maxHeight = panel.scrollHeight + "px";
                                    } 
                                });
                                }
                            </script>
                        </div>
                    </div>
                </div>
                {% comment %} 右欄 個人資訊 {% endcomment %}
                <div class="col-12 col-md-4 order-1 order-md-2 mt-2">
                    <div>
                        {% if user.main_image %}
                        <img src="{{ user.main_image.url }}" class="img-fluid">
                        {% endif %}
                    </div>

                    <div class="text-white mx-3 mx-sm-1">
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn yellow-button" type="button" onclick="callUser()">立即電話諮詢</button>
                        </div>
                        
                        <div class="d-grid gap-2 mt-3">
                            <a class="btn line-button" type="button" target="_blank" href="https://line.me/R/ti/p/{{user.line_id}}">立即LINE諮詢</a>
                        </div>

                        <!-- Event snippet for 點擊打電話按鈕 conversion page
                        In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
                        <script>
                            function gtag_report_conversion(url) {
                            var callback = function () {
                                if (typeof(url) != 'undefined') {
                                window.location = url;
                                }
                            };
                            gtag('event', 'conversion', {
                                'send_to': '{{user.google_id}}/Tqr3CKqAhJ8YELfYhtEp', //但這邊需要個別事件的碼?
                                'event_callback': callback
                            });
                            return false;
                            }
                        </script>
                        <!-- Event snippet for 點擊加入LINE諮詢 conversion page
                        In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
                        <script>

                            let lineUrl = 'https://line.me/R/ti/p/{{user.line_id}}';
                            function gtag_report_conversion(lineUrl) {
                            var callback = function () {
                                if (typeof(lineUrl) != 'undefined') {
                                window.location = lineUrl;
                                }
                            };
                            gtag('event', 'conversion', {
                                'send_to': '{{user.google_id}}/IhiWCK2AhJ8YELfYhtEp',
                                'event_callback': callback
                            });
                            return false;
                            }
                        </script>
    
    
                    </div>

                </div>
            </div>
        </div>
    </article>

    <footer class="footer bg-dark">
        房仲名片網 All Rights Reserved.
    </footer>

    <script>
        const list = document.querySelectorAll(".list");

        function activeLink() {
            list.forEach((item) => item.classList.remove("active"));
            this.classList.add("active");
        }
        list.forEach((item) => item.addEventListener("click", activeLink));
        
        function callUser(){
            console.log("button_call");
            //彈出視窗
            var phone = "0"+{{ user.phone }}
            window.open('tel:'+phone); 
        };

    </script>

    
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
