/* bg-dark bootstrap */
/* orange #ff8e00 */
/* yellow #FFDC91 */

body{
    font-family: 'Noto Sans TC', sans-serif;  /* @300;400;500;700;900 */
}

/* =============== ⬇︎⬇︎⬇︎ styles for top video ⬇︎⬇︎⬇︎ =============== */

.top-video{
    background-color: rgb(97, 89, 71);
    padding: 5rem 0;
}

.video-mask{
    border-radius: 30px; 
    overflow: hidden; 
}

.avatar{
    width: 50px;
    height: 50px;
}

.name{
    font-size: 1.3rem;
    margin-left: 10px;
    font-weight: 500;
}

.video-title{
    text-align: left;
}

.video-subtitle{
    text-align: left;
}



/* =============== ⬆︎⬆︎⬆︎ styles for top video ⬆︎⬆︎⬆︎ =============== */

/* =============== ⬇︎⬇︎⬇︎ styles for header ⬇︎⬇︎⬇︎ =============== */
.navigation {
    position: relative;
    flex: row wrap;
    justify-content: center;
    align-items: center;
 }

.navigation ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 4rem;
    height: 30px;
    z-index: 1;
    margin: 0 10px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.navigation ul li a .text {
    position: absolute;
    color: #444;
    font-weight: 400;
    font-size: 1rem;
    transition: 0.5s;
    opacity: 1;
    transform: translateY(20px);
}

.indicator {
    position: absolute;
    top: 32px;
    width: 4rem;
    height: 6px;
    background: rgb(255, 213, 0);
    transition: 0.5s;
    margin: 0 10px;
}

/* Indicator Transitions */
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(4rem * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(4rem * 1 + 20px));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(4rem * 2 + 40px));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(4rem * 3 + 60px));
}

hr{
    color:white;
    margin: 0;
}

/* =============== ⬆︎⬆︎⬆︎ styles for header ⬆︎⬆︎⬆︎ =============== */


/* =============== ⬇︎⬇︎⬇︎ styles for artical ⬇︎⬇︎⬇︎ =============== */

.section-title{
    font-weight: 700;
    font-size: 16pt;
    color: #ff8e00;
}

em{
    color: #FFBC47;
    font-style: normal;
}

.teacher-feature-title{
    font-size: 1.1rem;
    font-weight: 700;
}

.border-text{
    border: 1px solid #FFDC91;
    padding: 20px 20px;
    border-radius: 50px;
    color: #FFDC91;
}

.gold-text{
    color: #FFDC91;
}

.steps-section-title{
    background-color: #f7ae11;
    color: #212529;
    padding: 2px 10px;
    border-radius: 1px;
    margin-right: 10px;
}

.original-price{
    text-decoration:line-through;	
    color: #6a6a6a;
}

.yellow-button{
    background-color: #fcd360;
    color: white;
}

.yellow-button:hover{
    background-color: #f7ae11;
}

.line-button{
    background-color: #07B53B;
    color: white;
}

.line-button:hover{
    background-color: white;
    color: #07B53B;
}

#intro{
    text-align: justify;
}

/* =============== ⬆︎⬆︎⬆︎ styles for artical ⬆︎⬆︎⬆︎ =============== */

.case-item{
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.5rem;
    border: 1px solid white;
    border-radius: 3px;
}

.case-link{
    text-decoration: none;
    color: white;
}

.case-link:hover{
    text-decoration: none;
    color: white;
}

/* =============== ⬇︎⬇︎⬇︎ styles for accordion ⬇︎⬇︎⬇︎ =============== */


.accordion-box{
    border: 1px solid white;
    border-radius: 3px;

}

.cutom-accordion-btn {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 12px 18px;
    width: 100%;
    /* border-bottom: 1px solid #444; */
    /* border: 1px solid red;
    border-radius:3px; */
    text-align: left;
    /* outline: none; */
    font-size: 15px;
    transition: 0.4s;
  }
  
  .on, .cutom-accordion-btn:hover {
    background-color: white;
  }
  
  .cutom-accordion-btn:after {
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .on:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    /* border-top: 1px solid white; */
    color: white;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/* =============== ⬆︎⬆︎⬆︎ styles for accordion ⬆︎⬆︎⬆︎ =============== */

.footer{
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.2px solid white;
}



@media(min-width:576px){
    .navigation ul li {
        width: 100px;
    }

    .indicator {
        width: 100px;
    }

    /* Indicator Transitions */
    .navigation ul li:nth-child(1).active ~ .indicator {
        transform: translateX(calc(100px * 0));
    }
    .navigation ul li:nth-child(2).active ~ .indicator {
        transform: translateX(calc(100px * 1 + 20px));
    }
    .navigation ul li:nth-child(3).active ~ .indicator {
        transform: translateX(calc(100px * 2 + 40px));
    }
    .navigation ul li:nth-child(4).active ~ .indicator {
        transform: translateX(calc(100px * 3 + 60px));
    }
}